In [1]:
import pandas as pd

In [2]:
historical = pd.read_csv("/Users/emilynomura/Downloads/final_historical.csv") #filepath to historical data

In [45]:
# Look at team names composed of 2 and 3 strings
historical['home'].tail()

2153       Minnesota Vikings
2154     Pittsburgh Steelers
2155    New England Patriots
2156     Philadelphia Eagles
2157    New England Patriots
Name: home, dtype: object

In [12]:
# Test on one entry
test_team = historical['home'][0]
print(test_team)
print(test_team.split())
print(test_team.split()[-1])

Arizona Cardinals
['Arizona', 'Cardinals']
Cardinals

In [19]:
# Test on a 3-word entry
test_team3 = historical['home'][2157]
print(test_team3)
print(test_team3.split())
print(test_team3.split()[-1])

New England Patriots
['New', 'England', 'Patriots']
Patriots

In [43]:
# Create 2 new columns: home_new and away_new to remove city from team name
# We use str.rsplit to split an entire pandas series from the right
historical['home_new'] = historical['home'].str.rsplit(n=1, expand=True)[:][1]
historical['away_new'] = historical['away'].str.rsplit(n=1, expand=True)[:][1]

In [47]:
historical['home_new'].head()

0    Cardinals
1        Bills
2     Panthers
3       Browns
4      Cowboys
Name: home_new, dtype: object

In [48]:
historical.to_csv('/Users/emilynomura/Downloads/historical_new.csv') #filepath to save new csv